
process {
	
	withName: MINIMAP2_ALIGN {
        	ext.args   = "-ax splice -uf -k14"
			cpus = 25
			memory = 72.GB
			time = 16.h
    	}
/*	withLabel:alignment {
		cpus   = { check_max( 25    * task.attempt, 'cpus'    ) }
     	memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
	}
*/
}
